<h1>List</h1>

{{#each hotels}}
<a href="/hotel/{{this._id}}">
    <fieldset>
    <legend>{{this.title}}</legend>
    <p>{{this.location}}</p>
    <img class="hotelImg" src="{{this.imageUrl}}" alt="hotel image">
    <p>{{this.description}}</p>
</fieldset>
</a>
{{/each}}

<a href="/list?page={{pages.prevPage}}"><button class="pageBtn">Prev</button></a>
<a href="/list?page={{pages.nextPage}}"><button class="pageBtn">Next</button></a>